streamlit
langchain
langchain-community
langchain-classic
langchain-ollama
langchain-text-splitters
faiss-cpu
unstructured
python-dotenv
requests
beautifulsoup4
lxml
pandas
yfinance
plotly
playwright
pypdf